<% unless @weather_forecast %>
  <% flash.each do |type, message| %>
    <div class="flash data-turbo-temporary flash-<%= type %>">
      <%= message %>
    </div>
  <% end %>
<% end %>

<% if @weather_forecast %>
  <div class="weather-forecast">
    <h2>Weather Forecast</h2>
    <div class="weather-info">
      <p><span>Current temperature:</span> <%= @weather_forecast.temperature %>°F</p>
      <p><span>Minimum temperature:</span> <%= @weather_forecast.temperature_min %>°F</p>
      <p><span>Maximum temperature:</span> <%= @weather_forecast.temperature_max %>°F</p>
      <p><span>Humidity:</span> <%= @weather_forecast.humidity %>%</p>
      <p><span>Pressure:</span> <%= @weather_forecast.pressure %> hPa</p>
      <p><span>Description:</span> <%= @weather_forecast.description %></p>
    </div>
  </div>
<% end %>

<%= link_to 'Search Again', root_path, class: 'nice-back-btn' %>